# Dependencias
node_modules
.pnpm-store

# Build
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temp scaffold residue
CUsersALEXAN~1AppDataLocalTemp*

# Capacitor (Fase 2)
android/
ios/
*.apk
*.aab
*.ipa

# Env
.env
.env.local
.env.*.local

# TS
*.tsbuildinfo
